* {
    box-sizing: border-box;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 90vh;
  }

  .container {
    position: relative;
    height: 500px;
    width: 500px;
    border: 2px solid #000;
  
  }

  .arrow {
    color: red;
    font-size: 30px;
    position: absolute;
    animation: arrowMove linear 5s infinite,
    rotateArrow 5s steps(1) infinite;
  }

  @keyframes arrowMove {
    0% {
      left: 0;
      top: 0;
    }

    25% {
      left: 100%;
      top: 0;
    }

    50% {
      left: 100%;
      top: 100%;
    }

    75% {
      left: 0;
      top: 100%;
    }

    100% {
      left: 0;
      top: 0;
    }
  }

  @keyframes rotateArrow {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    25% {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    50% {
      transform: translate(-50%, -50%) rotate(180deg);
    }

    75% {
      transform: translate(-50%, -50%) rotate(270deg);
    }

    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
