* {
    box-sizing:border-box;
}

.grid-container {
    padding: 20px 135px;
    display: grid;
    grid-template-areas:
        "header header header"
        "left-content main-content right-content"
        "left-content sub-content right-content"
        "footer footer footer"
    ;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px minmax(80vh, 1fr) minmax(25px,0.1fr) 50px;
}

.grid-item {
    border: 1px dashed blue;
}

.header {
    grid-area: header;
}

.left-content {
    grid-area: left-content;
}


.right-content {
    grid-area: right-content;
}

.footer {
    grid-area: footer;
}